@tailwind base;
@tailwind components;
@tailwind utilities;


button {
    background-color: rgb(178, 169, 187);
    padding: 1em;
}

.sticky-cart {
    position: sticky;
    top: 0;
    z-index: 100;
    background: white;
}

.money {
    color: green;
}

.bi-cart {
    color: white;
}